.container {
    display: flex;
    flex-direction: row;
    justify-content: wrap;
    align-items: center;

    gap: 30px;
    margin-top: 2%;
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 150px;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: black;
    gap: 2px;
}

.card img {
    width: 50px;
}
.card h3 {
    font-size: 1rem;
    font-weight: lighter;
}
.card span {
    font-size: 1.5rem;
    font-weight: bold;
}